<%# include relative path to the partials file %>
<% include ../partials/header.ejs  %>

<h1>NEW TEACHER FORM</h1>

<form method="post" action="/teachers">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" placeholder="Name" name = 'teacherName'>
  </div>
  <label>
    <input type="radio" name="gender" value="male" name = gender>
    Male
  </label>
  <label>
    <input type="radio" name="gender" value="female" checked name = gender>
    Female
  </label>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input type="contact" class="form-control" id="contact" placeholder="Contact" name = 'teacherContact'>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="address" class="form-control" id="address" placeholder="Address" name = 'teacherAddress'>
  </div>
  <div class="form-group">
    <label for="subjects">Subjects you teach</label>
    <input type="name" class="form-control" id="parentName" placeholder="subjects" name = 'subjects'>
  </div>
  <div class="form-group">
    <label for="classes">Classes you teach</label>
    <input type="contact" class="form-control" id="contact" placeholder="classes" name = 'classes'>
  </div>
    <input type="submit">
</form>
<% include ../partials/footer.ejs  %>
